.start-page-wrapper {
  padding: 0 80px;
  display: flex;
  height: 100%;
  position: relative;
  background: var(--white-100);
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top left, var(--melange) 50%, var(--white-100) 50%);

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 624px;
  :first-child {
    margin-bottom: 64px;
  }

  @media screen and (max-width: 1024px) {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.hand-wrapper {
  @media screen and (max-width: 1024px) {
    transform: scale(0.5);
  }
}
