.answer-button {
  width: 373px;
  height: 72px;
  flex-shrink: 0;
  fill: var(--white-100);
  stroke-width: 1px;
  stroke: var(--black-40);
  position: relative;
  display: flex;
  align-items: center;

  :hover {
    cursor: pointer;
    stroke: var(--orange-100);
  }

  @media screen and (max-width: 425px) {
    width: 290px;
  }
}

.text-wrapper {
  left: 48px;
  position: absolute;
  column-gap: 8px;
  display: flex;
  align-items: center;
}

.button-text {
  color: var(--black-100);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
}

.button-order {
  color: var(--orange-100);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}
